
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');


* {
    text-decoration: none !important;
}

#hdrbg {
    background-image: url(/assets/images/hdrbg.jpg) !important;
    background-size: 100% !important;

}

#hdrbg a {
    color: antiquewhite;
    font-family: 'Agdasima', sans-serif;
    font-size: x-large;
    text-shadow: 2px 2px 5px #0dcaf0;
}

#navbarNav {
    margin-left: 80px !important;
}

h1, p {
    color: antiquewhite;
    font-family: 'Agdasima', sans-serif;
}

#hdrimg1 {
    border-radius: 30%;
    margin-left: 80px;
    margin-bottom: 20px;
}

#hdrimgdiv{
    width: 450px !important;
}

header, h1 {
    margin-top: 100px;
    margin-left: 150px;
}

span {
    color:blueviolet;
    background-color: antiquewhite;
    border-radius: 2px;
}

 #hdrp1 {
    margin-top: 50px !important;
    width: 500px !important;
    height: auto !important;
    border: solid 5px #0dcaf0 !important;
    margin-left: 70px !important;
    border-radius: 20px !important;
    font-size: 25px !important;
}

.fbttn {
    margin-left: 80px;
}

#btndiv {
    padding-left: 60px;
}

#sclmd {
    padding-right: 90px !important;
}

/* HEADER
------------------------------

SECTION1 */


#section1 {
    margin-top: 100px;
    padding-bottom: 50px;
}

#sec1h2 {
   margin-top: 150px;
   color: #0dcaf0;
   text-decoration: underline !important;
}

section h3 {
    color:#0dcaf0 ;
    width: fit-content;
   
    padding: 2px;
}


.dortp {
    background-color: blueviolet;
    border: 3px solid antiquewhite;
    padding: 5px;
    border-radius: 5px;

}




/* SECTION 1
------------------------------

SECTION 2 */

.section2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2 p{
    font-size: 25px;
}

.qoutes1 {
    width: 600px;
    text-align: center;
}

.pi {
    margin-left: 50%;
    background-color: blueviolet;
    border: 10px solid #0dcaf0 ;
    border-radius: 10px;
}

.albertimg {
    margin-left: 400px !important;
    border-radius: 50%;
}

.albertdiv {
    display: flex !important;

}

.alpi {
    background-color: blueviolet;
    border: 1px solid #0dcaf0 ;
    border-radius: 10px;
    display: inline-block !important;
    width: 300px;
    margin-left: 20px;
    padding-left: 5px;
}


/* SECTION 2
------------------------------

CARDS */

.f40img {
    width: 40px !important;
}

.section3 {
    margin-top: 100px;
    padding-bottom: 5px;
} 


/* CARDS
------------------------------

ASIDE */

 .divsearc{
    margin-top: 10px;
    padding-bottom: 50px;
 }

/* 
 footer */

 .cntr {
    text-align: center;
    padding-top: 20px;
 }


 .txt {
    color: antiquewhite !important;
 }